<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-image">
	<div class="search">
    	<h1>Enjoy authentic night life</h1>

    		<%= form_tag guides_path, method: 'get' do %>	
    			<p>Where do you want to party 
    				<%= select_tag :location, options_for_select(Location.find(:all).map(&:location)) %>	
    			</p>
    			<!--
    			<p>When 
    				<%= date_select "party_date", discard_year: true %> 
    			</p>
    			<p>Number of tourists 
    				<%= select_tag(:location, options_for_select([1,2,3,4])) %>
    			</p>
    			-->
    			<%= submit_tag("Search", name: nil, class: "btn btn-large brn-primary") %>
    		<% end %>

    	<div class="learn">
    		<p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    	</div>
    </div>
</div>

      <!-- Example row of columns -->
<div class="row">
	<div class="span4">
    	<h2>Heading</h2>
    	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
	    <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>
